<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studyim.cn.edu.cafa.studyim">

    <!-- 获取手机状态-例如手机串号 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">

        <!--<meta-data-->
            <!--android:name="com.amap.api.v2.apikey"-->
            <!--android:value="高德地图的 AppKey" />-->

        <!-- 欢迎界面 -->
        <activity
            android:name=".activity.login.WelcomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录 -->
        <activity
            android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 主页 -->
        <activity
            android:name=".activity.main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.main.StudyShearchActivity"
            android:label="@string/title_activity_study_shearch"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name="tools.com.lvliangliang.wuhuntools.permission.PermissionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.other.DetailUserInfoActivity" />
        <activity android:name=".activity.other.SetUserRemarkName" />
        <activity android:name=".activity.other.SendAddFriendActivity" />
        <activity android:name=".activity.other.FriendGetAddListActivity" />
        <activity android:name=".activity.other.FriendGetinfoActivity" />
        <activity android:name=".activity.other.SessionActivity" />
        <!--会话页面-->
        <activity
            android:name=".activity.rong.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- ${packageName}  -->
                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

    </application>

</manifest>